::-moz-selection {
    background: #009688;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #009688;
    color: #fff;
    text-shadow: none;
}
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
::-webkit-scrollbar-track {
    background: #171c20;
}
::-webkit-scrollbar-thumb {
    background: #21252b;
}
body {
    transition: all 0.25s linear;
}
